// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~dropzone/dist/dropzone.css";
body{
	background: black;
}

.card-header{
	&.custom-design1{
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
	    color: white;
	    background: $header-bg1;
	}
}

.card-body{
	&.custom-design1{
		background: $body-bg1;
    	color: white;
    	table{
    		tr,td{
    			color:white;
    		}
    	}
	    .dropzone{
	    	color:black;
	    }
	}
}

.pagination{
	.page-link{
		cursor: pointer;
	}
}
.full-scroll-x{
	position: relative;
	width:100%;
	overflow-x: scroll;
}
.min-height-100vh{
	min-height: 100vh;
}
.msg_empty{
	color: red;
	font-style: italic;
	&.show{
		display: inline-block;
	}
	&.hide{
		display: none;
	}
}

.modal-body{
	.categories{
		label{
			&:hover{
				background: #c8e8ff;
			}
    		padding: 2px 5px;
			width: 100%;
			position: relative;
			&:after{
				font-size: 20px;
				color:black;
				content: '▢';
				position:absolute;
				right: 5px;
				top:0;
			}
			&.checked{
				background: #c8e8ff;
				&:after{
					font-size: 20px;
					color:green;
					content: '✔';
					position:absolute;
					right: 5px;
					top:0;
				}
			}
		}
		>li{
			padding: 5px;
			margin: 2px;
			list-style-type: decimal-leading-zero;
			>ul{
				>li{
					list-style-type: decimal-leading-zero;
					>ul{
						>li{
							list-style-type: lower-latin;
						}
					}
				}
			}
		}
	}
}
.cover-images{
	&.control-panel{
		margin: 10px 0px;
		position: relative;
		width: 100%;
		img{
			position: relative;
			width: 100%;
		}
		.row{
			margin: 10px 0px;
			border:1px solid white;
			border-radius: 10px;
			padding: 5px 1px;
			>.img{
				max-height: 200px;
				overflow-y:scroll;
				margin-bottom: 10px;
			}
		}
	}
}

.custom-scrollbar1{
  	&::-webkit-scrollbar-track
	{
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #f3f3f3;
	}
	&::-webkit-scrollbar
	{
		width: 12px;
		background-color: #fff;
		border-radius: 10px;
	}

	&::-webkit-scrollbar-thumb
	{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #ababab;
	}
}
.card{
	border: none !important;
}