// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  margin: 0;
}
.aqg-header{
	height: 100px;
	overflow: visible;
	top: 0px;
}
.aqg-row{
	max-width: 1170px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0 auto;

	.aqg-logo{
		display: block;
    float: left;
    max-width: 100%;
    zoom: 1;
		img{
			max-width: 100px;
			position: relative;
		}
	}
	nav{
		&.aqg-menu{
			float: right;
	    position: relative;
	    z-index: 200;
	    overflow: hidden;
			>ul{
				list-style: none;
		    margin: 0;
		    padding: 0;
				>li{
					padding: 1px 20px;
					float: left;
			    margin: 0;
			    position: relative;
			    cursor: pointer;
					>a{
						height: 100px;
						display: -ms-flexbox;
				    display: flex;
				    -ms-flex-align: center;
				    align-items: center;
				    line-height: 1;
				    -webkit-font-smoothing: subpixel-antialiased;
						>span{

						}
					}
				}
			}
		}
	}
}